<div class="row" ng-controller="editCtrl">
    <div class="col">
        <h3>Edit Books</h3>
        <div class="alert alert-success alert-dismissible fade show" role="alert" ng-show="modalErr">
            {{modalErr}}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        <form name="fadd">
            <div class="form-group row mb-1">
                <label class="col-form-label col-2 text-end">BookName</label>
                <div class="col-4">
                    <input name="BookName" ng-model="bookEdit.BookName" ng-required="true" ng-maxlength="40" class="form-control" />
                    <div class="text-danger" ng-show="!fadd.BookName.$pristine && fadd.BookName.$error.required">BookName is required</div>
                    <div class="text-danger" ng-show="!fadd.BookName.$pristine && fadd.BookName.$error.maxlength">BookName can be maximun 40 cahracters in length.</div>
                </div>

            </div>
            <div class="form-group row mb-1">
                <label class="col-form-label col-2 text-end">AuthorName</label>
                <div class="col-4">
                    <input name="AuthorName" ng-model="bookEdit.AuthorName" ng-required="true" ng-maxlength="40" class="form-control" />
                    <div class="text-danger" ng-show="!fadd.AuthorName.$pristine && fadd.AuthorName.$error.required">AuthorName is required</div>
                    <div class="text-danger" ng-show="!fadd.AuthorName.$pristine && fadd.AuthorName.$error.maxlength">AuthorName can be maximun 40 cahracters in length.</div>
                </div>

            </div>
            <div class="form-group row mb-1">
                <label class="col-form-label col-2 text-end">PublishDate</label>
                <div class="col-4">
                    <datepicker date-format="yyyy-MM-dd">
                        <input name="PublishDate" ng-model="bookEdit.PublishDate" required class="form-control" />
                    </datepicker>
                    <div class="text-danger" ng-show="!fadd.PublishDate.$pristine && fadd.PublishDate.$error.required">PublishDate is required</div>

                </div>

            </div>
            <div class="form-group row mb-1">
                <label class="col-form-label col-2 text-end">Picture</label>
                <div class="col-4">
                    <input type="file" name="picture" ng-model="bookEdit.Picture" class="form-control" accept="image/*" base-sixty-four-input />
                    <div class="text-danger" ng-show="!fadd.picture.$pristine && fadd.picture.$error.required">Picture is required</div>

                </div>
                <div class="col-6">
                    <img class="img-thumbnail" width="40" ng-src="{{url}}/Images/{{bookEdit.Picture}}" />
                </div>

            </div>
            <div class="form-group row mb-1">

                <div class="col-10 offset-2">
                    <button type="button" class="btn btn-success" ng-disabled="fadd.$invalid" ng-click="update(fadd)">Save to database</button>

                </div>

            </div>
        </form>

    </div>
    <div class="row">
        <div class="col-12">
            <a href="#!/books">Back to Book list</a>
        </div>
    </div>
</div>